
<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-start">
      <div class="m-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="cancel()"><i class="bi bi-arrow-left"></i></button>
      </div>
      <div class="m-2">
        <h1>{{'pass.title' | translate}}</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">{{'bread.home' | translate}}</a></li>
            <li class="breadcrumb-item"><a routerLink="/users-list">{{'bread.pass' | translate}}</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-key-fill"></i>
                {{'pass.form' | translate}}
              </h5>

              <form class="row g-3 needs-validation" id="loginForm" [formGroup]="passForm" (ngSubmit)="changePass()" novalidate>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">{{'pass.current' | translate}}</label>
                  <input type="password" name="oldPass" class="form-control" formControlName="oldPassword" id="oldPass" >
                  <div class="text-danger" *ngIf="!campoValido('oldPassword')">{{'pass.current.error' | translate}}</div>
                </div>

                <div class="col-12">
                  <label for="newPass" class="form-label">{{'pass.new' | translate}}</label>
                  <input type="password" name="password" class="form-control" formControlName="newPassword" id="newPass" >
                  <div class="text-danger" *ngIf="!campoValido('newPassword')">{{'user.pass.error' | translate}}</div>
                </div>

                <div class="col-12">
                  <label for="again" class="form-label">{{'pass.repeat' | translate}}</label>
                  <input type="password" name="again" class="form-control" formControlName="newAgain" id="again" >
                  <div class="text-danger" *ngIf="!campoValido('newAgain')">{{'user.pass.error' | translate}}</div>
                </div>

                <div class="col-12 d-flex justify-content-around">
                  <button class="btn btn-danger" type="button" (click)="cancel()">{{'button.cancel' | translate}}</button>
                  <button class="btn btn-primary" type="submit" [disabled]="!hasChanges">{{'pass.save' | translate}}</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
