<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center justify-content-between">

  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/home" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="Logo de la aplicación">
      <span class="d-none d-lg-block">SmartQR</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="sidebarToggle()"></i>
  </div>

  <div class="m-2">
    <app-translation></app-translation>
  </div>

</header>
