<tr  [ngClass]="{'disabled': disabled}">
  <td [ngClass]="{'disabledIn': disabled}"><i class="bi bi-qr-code"></i></td>
  <td [ngClass]="{'disabledIn': disabled}">{{qr.date}}</td>
  <td [ngClass]="{'disabledIn': disabled}">{{qr.description}}</td>
  <td>
    <form [formGroup]="activateForm">
      <div class="form-check form-switch">
        <input class="form-check-input" style="cursor: pointer;" type="checkbox" id="flexSwitchCheckDefault" formControlName="activated" (change)="activateQr(this.activateForm)">
      </div>
    </form>
  </td>
  <td [ngClass]="{'disabledIn': disabled}"><button type="button" class="btn btn-success" title="Imprimir código QR"><i class="bi bi-printer"></i></button></td>
  <td [ngClass]="{'disabledIn': disabled}"><button type="button" class="btn btn-primary" title="Editar código QR"><i class="bi bi-pencil-square"></i></button></td>
  <td [ngClass]="{'disabledIn': disabled}"><button type="button" class="btn btn-danger" title="Eliminar códig QR" (click)="deleteQr()"><i class="bi bi-trash"></i></button></td>
</tr>
