<tr>
  <td><i class="bi bi-qr-code"></i></td>
  <td >12/02/2023</td>
  <td>Este código Qr hace esto</td>
  <td>
    <form>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      </div>
    </form>
  </td>
  <td><button type="button" class="btn btn-success" title="Imprimir código QR"><i class="bi bi-printer"></i></button></td>
  <td><button type="button" class="btn btn-primary" title="Editar código QR"><i class="bi bi-pencil-square"></i></button></td>
  <td><button type="button" class="btn btn-danger" title="Eliminar códig QR"><i class="bi bi-trash"></i></button></td>
</tr>
