<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Configuración de la llamada</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <form class="row g-3" id="consForm1" [formGroup]="firstForm">
              <div class="col-12">
                <label for="nameConsult" class="col-form-label">Nombre</label>
                <input type="text" name="name" class="form-control" formControlName="name" id="nameConsult" >
                <!-- <div class="text-danger" *ngIf="!campoValido('email')">Por favor introduce un email correcto.</div> -->
              </div>
              <div class="col-12">
                <label for="tokenConsult" class="col-form-label">Token</label>
                <input type="text" name="token" class="form-control" formControlName="token" id="tokenConsult">
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="date1" value="date1" checked
                      (change)="changeDate()">
                      <label class="form-check-label" for="date1">
                        <i class="bi bi-calendar"></i>
                        Fecha absoluta
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="date2" value="date2" (change)="changeDate()" >
                      <label class="form-check-label" for="date2">
                        <i class="bi bi-stopwatch"></i>
                        Fecha relativa
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col" *ngIf="!date">
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="dateFrom" class="col-form-label">Desde</label>
                        <input type="datetime-local" class="form-control" id="dateFrom" formControlName="dateFrom">
                      </div>
                      <div class="col-sm-6">
                        <label for="dateTo" class="col-form-label">Hasta</label>
                        <input type="datetime-local" class="form-control" id="dateTo" formControlName="dateTo">
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="date">
                    <form class="row" [formGroup]="relativeForm">
                      <div class="col-sm-6">
                        <label for="relative" class="col-form-label">Cantidad</label>
                        <input type="number" name="relative" class="form-control" id="relative"  min="0" formControlName="number">
                      </div>
                      <div class="col-sm-6">
                        <label class="col-form-label">Unidad de tiempo</label>
                        <select class="form-select" aria-label="Default select example" formControlName="unit">
                          <option value="1" selected>Segundos</option>
                          <option value="2">Minutos</option>
                          <option value="3">Horas</option>
                          <option value="4">Dias</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <form class="row g-3" id="consForm1" [formGroup]="secondForm">
              <div>
                <label class="col-form-label">Cantidad de datos</label>
                <select class="form-select" aria-label="Default select example" formControlName="data" (change)="selectData()">
                  <option value="1" selected>Todos</option>
                  <option value="2">Máximo</option>
                  <option value="3">Mínimo</option>
                  <option value="4">Último</option>
                </select>
              </div>
            </form>
            <div class="d-flex align-items-center">
              <h5 class="card-title">Filtros</h5>
              <button *ngIf="filters" [disabled]="keys.length >= 12" type="button" class="m-2 btn btn-primary" (click)="addFilter()"><i class="bi bi-plus-lg"></i></button>
            </div>
            <form *ngIf="!filters">
              <div class="row mb-3">
                <label for="inputUid" class="col-sm-2 col-form-label">UID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputUid">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputName" class="col-sm-3 col-form-label">Magnitud</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputName">
                </div>
              </div>
            </form>
            <div *ngIf="filters" style="height: 500px; ;max-height: 400px; overflow-y: scroll;" [formGroup]="filterForm">
              <div class="row g-3 align-items-end m-2" *ngFor="let key of keys; let i = index">
                <div class="col-sm-3">
                  <label class="form-label">Filtro {{i + 1}}</label>
                  <select class="form-select" (change)="onChange(i, key, $event)">
                    <option *ngFor="let opt of options" value="{{opt}}" [selected]="opt === keys[i]"
                    [disabled]="keys.includes(opt)">{{opt}}</option>
                  </select>
                </div>
                <form [formGroup]="filterForm" class="col">
                  <input type="text" name="filters" id="filters" class="form-control" formControlName="{{key}}">
                </form>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" title="Eliminar filtro" (click)="deleteFilter(i, key)"><i class="bi bi-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col">
        <div class="card">
          <div class="card-body">
            <form class="row g-3" id="consForm1" [formGroup]="secondForm">
              <label class="form-label" style="margin-top: 2rem">Cantidad de datos</label>
              <select class="form-select" aria-label="Default select example" formControlName="data" (change)="selectData()">
                <option value="1" selected>Todos</option>
                <option value="2">Máximo</option>
                <option value="3">Mínimo</option>
                <option value="4">Último</option>
              </select>
            </form>
            <div class="d-flex align-items-center">
              <h5 class="card-title">Filtros</h5>
              <button *ngIf="filters" type="button" class="m-2 btn btn-primary" (click)="addFilter()"><i class="bi bi-plus-lg"></i></button>
            </div>
            <form *ngIf="!filters">
              <div class="row mb-3">
                <label for="inputUid" class="col-sm-2 col-form-label">UID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputUid">
                </div>
              </div>
              <div class="row mb-3">

                <label for="inputName" class="col-sm-3 col-form-label">Magnitud</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputName">
                </div>
              </div>
            </form>
            <div *ngIf="filters" style="height: 500px; ;max-height: 400px; overflow-y: scroll;" [formGroup]="filterForm">
              <div class="row g-3 align-items-end m-2" *ngFor="let key of keys; let i = index">
                <div class="col-sm-3">
                  <label class="form-label">Filtro {{i + 1}}</label>
                  <select class="form-select" (change)="onChange(i, key, $event)">
                    <option *ngFor="let opt of options" value="{{opt}}" [selected]="opt === keys[i]"
                    [disabled]="keys.includes(opt)">{{opt}}</option>
                  </select>
                </div>
                <form [formGroup]="filterForm" class="col">
                  <input type="text" name="filters" id="filters" class="form-control" formControlName="{{key}}">
                </form>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" title="Eliminar filtro" (click)="deleteFilter(i, key)"><i class="bi bi-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tipo de representación</h5>

            <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div id="chart" class="carousel-item active">
                  <img src="assets/img/line-simple.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/bar-simple.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/gauge-grade.png" class="d-block w-100" alt="...">
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="pru()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

            </div> -->

            <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="col" *ngIf="!date">
                    <div class="row">
                      <div class="col-6">
                        <label for="dateFrom" class="col-form-label">Desde</label>
                        <input type="datetime-local" class="form-control" id="dateFrom" formControlName="dateFrom">
                      </div>
                      <div class="col-6">
                        <label for="dateTo" class="col-form-label">Hasta</label>
                        <input type="datetime-local" class="form-control" id="dateTo" formControlName="dateTo">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col" *ngIf="date">
                    <form class="row" [formGroup]="relativeForm">
                      <div class="col-6">
                        <label for="relative" class="col-form-label">Cantidad</label>
                        <input type="number" name="relative" class="form-control" id="relative"  min="0" formControlName="number">
                      </div>
                      <div class="col-6">
                        <label class="col-form-label">Unidad de tiempo</label>
                        <select class="form-select" aria-label="Default select example" formArrayName="unit">
                          <option value="1" selected>Segundos</option>
                          <option value="2">Minutos</option>
                          <option value="3">Horas</option>
                          <option value="4">Dias</option>
                          <option value="5">Meses</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/gauge-grade.png" class="d-block w-100" alt="...">
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

            </div> -->


            <div class="row" *ngIf="filters">
              <div class="col-12 col-sm-6 m-2 m-sm-0">
                <img src="assets/img/line-simple.png" alt="Gráfica de líneas" class="d-block w-100" style="cursor: pointer;"
                 [ngClass]="{'selected': lines}" (click)="line()">
              </div>
              <div class="col-12 col-sm-6 m-2 m-sm-0">
                <img src="assets/img/bar-simple.png" alt="Gráfica de barras" class="d-block w-100" style="cursor: pointer;"
                [ngClass]="{'selected': bars}" (click)="bar()">
              </div>
            </div>

            <div class="row" *ngIf="!filters">
              <div class="col-12 col-sm-6 m-2 m-sm-0">
                <img src="assets/img/gauge-grade.png" alt="Gráfica de líneas" class="d-block w-100" style="cursor: pointer;"
                 [ngClass]="{'selected': gauges}" (click)="gauge()">
              </div>
              <div class="col-12 col-sm-6 m-2 m-sm-0">
                <img src="assets/img/number.png" alt="Gráfica de barras" class="d-block w-100" style="cursor: pointer;"
                [ngClass]="{'selected': numbers}" (click)="number()">
              </div>
            </div>

          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger m-2">Cancelar</button>
          <button type="button" class="btn btn-success m-2" (click)="updateConsult()">Guardar</button>
        </div>
      </div>
    </div>
  </section>

</main>

