

<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Código QR</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
            <li class="breadcrumb-item active">Configuración de código QR</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Configuración del QR</h5>
            <div class="container">
              <div class="row">
                <div class=" col col-sm-4" style="margin: 1em;">
                  <p class="text-center m-0">{{dataQrForm.get('tagName')?.value}}</p>
                  <div class="d-flex align-items-center justify-content-center">
                    <qrcode [qrdata]="urlQr" [width]="width" [errorCorrectionLevel]="'M'" [elementType]="'canvas'"></qrcode>
                  </div>
                  <p class="text-center small">{{dataQrForm.get('tagDescription')?.value}}</p>
                  <div class="d-flex justify-content-around align-items-center">
                    <form [formGroup]="activateForm">
                      <div class="form-check form-switch">
                        <input class="form-check-input" style="cursor: pointer;" type="checkbox" id="flexSwitchCheckDefault" formControlName="activated" (change)="activateQr()">
                      </div>
                    </form>
                    <button type="button" class="btn btn-success" title="Imprimir código QR"><i class="bi bi-printer"></i></button>
                  </div>
                </div>
                <!-- Parte del formulario del codigo QR -->
                <div class="col" style="margin: 1em;">
                  <form [formGroup]="dataQrForm">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex align-items-center justify-content-sm-between">
                            <h5 class="scol-form-label">Datos del QR</h5>
                            <button style="margin-left: 1em;" type="button" class="btn btn-primary btn-sm d-md-none" (click)="startUpdate()" [disabled]="buttons">
                              <i class="bi bi-pencil-square"></i></button>
                            </div>
                          <label for="inputName" class="form-label">Título</label>
                          <textarea id="inputName" class="form-control" style="height: 100px; max-height: 200px;"
                            formControlName="description"></textarea>

                          <label for="inputDate" class="form-label">Fecha de validez</label>
                          <input type="date" class="form-control" id="inputDate"
                            formControlName="date">
                        </div>

                        <div class="col">
                          <div class="d-flex align-items-center justify-content-sm-between">
                            <h5 class="scol-form-label">Datos de impresión</h5>
                            <button style="margin-left: 1em;" type="button" class="btn btn-primary btn-sm d-none d-md-inline" (click)="startUpdate()" [disabled]="buttons">
                              <i class="bi bi-pencil-square"></i></button>
                          </div>
                          <label for="inputNameTag" class="form-label">Nombre de etiqueta</label>
                          <input type="text" class="form-control" id="inputNameTag"
                            formControlName="tagName">

                          <label for="inputDescTag" class="form-label">Descripción de etiqueta</label>
                          <input type="text" class="form-control" id="inputDescTag"
                            formControlName="tagDescription">


                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="buttons">
                      <button type="button" class="btn btn-danger m-2" (click)="cancelUpdate(true)">Cancelar</button>
                      <button type="button" class="btn btn-success m-2" (click)="updateQr()">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Llamadas del código QR</h5>
            <!-- barra de busqueda de codigos QR -->
            <div class="search-bar">
              <form class="search-form d-flex align-items-center" [formGroup]="searchForm" (ngSubmit)="search()">
                <input #searchField type="text" name="query" placeholder="Buscar llamadas..." title="Buscar llamadas" formControlName="searchQuery" (input)="checkSearch()">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                <button id="searchClearButton" type="reset" (click)="cleanSearch()">
                  <i #searchClear class="bi bi-x-lg"></i>
                </button>
              </form>
            </div>
            <!-- Botón para añadir nuevas llamadas -->
            <button type="button" class="btn btn-primary" (click)="createConsult()"><i class="bi bi-plus-lg"></i> Añadir Llamada</button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Activar/Desactivar</th>
                  <th class="text-center" scope="col">Editar</th>
                  <th class="text-center" scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4" #msg>Este código QR no tiene llamadas</td>
                </tr>
                <tr *ngFor="let consult of consults; let i = index" [ngClass]="{'disabled': disableConsult[i]}">
                  <td [ngClass]="{'disabledIn': disableConsult[i]}">{{consult.name}}</td>
                  <td>
                    <form [formGroup]="consultForm[i]">
                      <div class="form-check form-switch">
                        <input class="form-check-input" style="cursor: pointer;" type="checkbox" id="flexSwitchCheckDefault" formControlName="activated" (change)="activateConsult(i)">
                      </div>
                    </form>
                  </td>
                  <td class="text-center" [ngClass]="{'disabledIn': disableConsult[i]}"><button type="button" class="btn btn-primary" title="Editar código QR" (click)="goConsult(i)"><i class="bi bi-pencil-square"></i></button></td>
                  <td class="text-center" [ngClass]="{'disabledIn': disableConsult[i]}"><button type="button" class="btn btn-danger" title="Eliminar códig QR" (click)="deleteConsult(i)"><i class="bi bi-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
            <!-- Paginación -->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{'disabled': numPage === 0}">
                  <button class="page-link" aria-label="Previous" title="Anterior" (click)="pageConsult(numPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                  </button>
                </li>
                <li class="page-item" *ngFor="let pag of pageArray; let i = index">
                  <button title="Página {{i+1}}" [ngClass]="numPage === i ? 'btn btn-primary' : 'page-link'"  (click)="pageConsult(i)">{{pageArray[i]}}</button>
                </li>
                <li class="page-item" [ngClass]="{'disabled': numPage + 1 === page}">
                  <button class="page-link" aria-label="Next" title="Siguiente" (click)="pageConsult(numPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
