

<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Código QR</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tus códigos QR</h5>
            <div class="container">
              <div class="row">
                <div class=" col col-sm-4" style="margin: 1em;">
                  <div class="d-flex align-items-center justify-content-center">
                    <qrcode [qrdata]="urlQr" [width]="width" [errorCorrectionLevel]="'M'" [elementType]="'canvas'"></qrcode>
                  </div>
                  <div class="d-flex justify-content-around align-items-center">
                    <form [formGroup]="activateForm">
                      <div class="form-check form-switch">
                        <input class="form-check-input" style="cursor: pointer;" type="checkbox" id="flexSwitchCheckDefault" formControlName="activated" (change)="activateQr()">
                      </div>
                    </form>
                    <button type="button" class="btn btn-success" title="Imprimir código QR"><i class="bi bi-printer"></i></button>
                  </div>
                </div>
                <!-- Parte del formulario del codigo QR -->
                <div class="col" style="margin: 1em;">
                  <form [formGroup]="dataQrForm">
                    <div class="d-flex align-items-center justify-content-sm-between m-2">
                      <h5 class="scol-form-label">Datos del QR</h5>
                      <button style="margin-left: 1em;" type="button" class="btn btn-primary btn-sm" (click)="startUpdate()" [disabled]="buttons">
                        <i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <label for="inputName" class="form-label">Nombre/Descripción</label>
                          <textarea id="inputName" class="form-control" style="height: 100px;"
                            formControlName="description"></textarea>
                        </div>

                        <div class="col">
                          <label for="inputNameTag" class="form-label">Nombre de etiqueta</label>
                          <input type="text" class="form-control" id="inputNameTag"
                            formControlName="tagName">

                          <label for="inputDescTag" class="form-label">Descripción de etiqueta</label>
                          <input type="text" class="form-control" id="inputDescTag"
                            formControlName="tagDescription">

                          <label for="inputDate" class="form-label">Fecha de validez</label>
                          <input type="date" class="form-control" id="inputDate"
                            formControlName="date">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end" *ngIf="buttons">
                      <button type="button" class="btn btn-danger m-2" (click)="cancelUpdate()">Cancelar</button>
                      <button type="button" class="btn btn-success m-2" (click)="updateQr()">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Llamadas del código QR</h5>
            <!-- barra de busqueda de codigos QR -->
            <div class="search-bar">
              <form class="search-form d-flex align-items-center" [formGroup]="searchForm" (ngSubmit)="search()">
                <input id="searchField" type="text" name="query" placeholder="Buscar códigos QR..." title="Buscar códigos QR" formControlName="searchQuery" (input)="checkSearch()">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                <button id="searchClearButton" type="reset" (click)="cleanSearch()">
                  <i id="searchClear" class="bi bi-x-lg"></i>
                </button>
              </form>
            </div>
            <!-- Botón para añadir nuevas llamadas -->
            <button type="button" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Añadir Llamada</button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Activar/Desactivar</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="4" id="msg">Este código QR no tiene llamadas</td>
                </tr>
                <tr *ngFor="let consult of consults; let i = index" [ngClass]="{'disabled': disableConsult[i]}">
                  <td [ngClass]="{'disabledIn': disableConsult[i]}">{{consult.name}}</td>
                  <td>
                    <form [formGroup]="consultForm[i]">
                      <div class="form-check form-switch">
                        <input class="form-check-input" style="cursor: pointer;" type="checkbox" id="flexSwitchCheckDefault" formControlName="activated" (change)="activateConsult(i)">
                      </div>
                    </form>
                  </td>
                  <td [ngClass]="{'disabledIn': disableConsult[i]}"><button type="button" class="btn btn-primary" title="Editar código QR"><i class="bi bi-pencil-square"></i></button></td>
                  <td [ngClass]="{'disabledIn': disableConsult[i]}"><button type="button" class="btn btn-danger" title="Eliminar códig QR" (click)="deleteConsult(i)"><i class="bi bi-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
