

<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-start">
        <div class="m-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="cancel()"><i class="bi bi-arrow-left"></i></button>
        </div>
        <div class="m-2">
          <h1>{{'user.title' | translate}}</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">{{'bread.home' | translate}}</a></li>
              <li class="breadcrumb-item active">{{'bread.user' | translate}}</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- barra de busqueda de los usuarios -->
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" [formGroup]="searchForm" (ngSubmit)="search()">
          <input #searchField type="text" name="query" placeholder="{{'user.search' | translate}}..." title="{{'user.search' | translate}}" formControlName="searchQuery" (input)="checkSearch()">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          <button id="searchClearButton" type="reset" (click)="cleanSearch()">
            <i #searchClear class="bi bi-x-lg"></i>
         </button>
        </form>
      </div>
      <!-- Boton para añadir nuevos codigos QR -->
      <button type="button" class="btn btn-primary" (click)="createUser()"><i class="bi bi-person-fill-add"></i> {{'user.add' | translate}}</button>
    </div>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{'user.table.title' | translate}}</h5>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="3"><i class="bi bi-person-circle m-2"></i>{{'user.table.email' | translate}}</th>
                    <th class="text-center" scope="col">{{'user.table.role' | translate}}</th>
                    <th class="text-center" scope="col">{{'user.table.edit' | translate}}</th>
                    <th class="text-center" scope="col">{{'user.table.delete' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" #msg>{{'msg.user' | translate}}</td>
                  </tr>
                  <tr *ngFor="let user of userArray; let i = index">
                    <td colspan="3" [ngClass]="{'text-primary': user.email === appUser}">{{user.email}}
                    </td>
                    <td class="text-center" *ngIf="user.role === 1"><span class="badge bg-primary">admin</span></td>
                    <td class="text-center" *ngIf="user.role === 0"><span class="badge bg-secondary">user</span></td>
                    <td class="text-center"><button type="button" class="btn btn-primary" title="{{'user.table.edit.tooltip' | translate}}" (click)="updateUser(i)"><i class="bi bi-pencil-square"></i></button></td>
                    <td class="text-center"><button [disabled]="user.email === appUser" type="button" class="btn btn-danger" title="{{'user.table.delete.tooltip' | translate}}" (click)="deleteUser(i)"><i class="bi bi-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
              <!-- Paginación -->
              <app-page [pageTotal]="totalUsers"  (eventArray)="recieveArray($event)"></app-page>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
