<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-heading">{{'sidebar.management' | translate}}</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="bi bi-qr-code"></i>
        <span>{{'sidebar.qr' | translate}}</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 1">
      <a class="nav-link" routerLink="/users-list" routerLinkActive="active">
        <i class="bi bi-people-fill"></i>
        <span>{{'sidebar.user' | translate}}</span>
      </a>
    </li>

    <li class="nav-heading">{{'sidebar.profile' | translate}}</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/changePass" routerLinkActive="active">
        <i class="bi bi-key-fill"></i>
        <span>{{'sidebar.pass' | translate}}</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed micursor" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>{{'sidebar.logout' | translate}}</span>
      </a>
    </li>
  </ul>

  <span class="version m-2 position-absolute bottom-0">v1.1</span>

</aside><!-- End Sidebar-->
