<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-heading">Gestión</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="bi bi-qr-code"></i>
        <span>Gestión de los códigos QR</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="user.role === 1">
      <a class="nav-link" routerLink="/users-list" routerLinkActive="active">
        <i class="bi bi-people-fill"></i>
        <span>Gestión de los usuarios</span>
      </a>
    </li>

    <li class="nav-heading">Perfil</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/changePass" routerLinkActive="active">
        <i class="bi bi-key-fill"></i>
        <span>Cambiar contraseña</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed micursor" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>Cerrar sesión</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->
