

<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Editar usuario</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
            <li class="breadcrumb-item"><a routerLink="/users-list">Gestión de usuarios</a></li>
            <li class="breadcrumb-item active">Edición de usuario</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-person-circle"></i>
                {{emailUser}}
              </h5>

              <form class="row g-3 needs-validation" id="loginForm" [formGroup]="userForm" (ngSubmit)="updateUser()" novalidate>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" name="email" class="form-control" formControlName="email" id="yourEmail" >
                  </div>
                  <div class="text-danger" *ngIf="!campoValido('email')">Por favor introduce un email correcto.</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Contraseña</label>
                  <p class="small">Introduce aquí una nueva contraseña si se desea cambiar</p>
                  <input type="password" name="password" class="form-control" formControlName="password" id="yourPassword" >
                </div>

                <div class="col-12">
                  <label for="limit" class="form-label">Límite de códigos QR</label>
                  <p class="small">Para no tener límite, introduzca un 0</p>
                  <input type="number" min="0" name="limit" class="form-control" formControlName="lim_consult" id="limit" >
                </div>

                <div class="col-12">
                  <label class="col-form-label">Rol</label>
                  <select class="form-select" aria-label="Default select example" formControlName="role">
                    <option *ngFor="let role of roles; let i = index" value="{{i}}" selected>{{role}}</option>
                  </select>
                </div>

                <div class="col-12 d-flex justify-content-around">
                  <button class="btn btn-danger" type="button" (click)="cancel()">Cancelar</button>
                  <button class="btn btn-primary" type="submit" [disabled]="!hasChanges">Guardar cambios</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
