

<main id="main" class="main">

  <div class="pagetitle">
    <div class="d-flex justify-content-start">
      <div class="m-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="cancel()"><i class="bi bi-arrow-left"></i></button>
      </div>
      <div class="m-2">
        <h1>{{'user.edit.title' | translate}}</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">{{'bread.home' | translate}}</a></li>
            <li class="breadcrumb-item"><a routerLink="/users-list">{{'bread.user' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'bread.user.create' | translate}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-person-circle"></i>
                {{emailUser}}
              </h5>

              <form class="row g-3 needs-validation" id="loginForm" [formGroup]="userForm" (ngSubmit)="updateUser()" novalidate>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">{{'user.table.email' | translate}}</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                    <input type="text" name="email" class="form-control" formControlName="email" id="yourEmail" >
                  </div>
                  <div class="text-danger" *ngIf="!campoValido('email')">{{'user.email.error' | translate}}</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">{{'user.pass' | translate}}</label>
                  <p class="small">{{'user.edit.pass' | translate}}</p>
                  <input type="password" name="password" class="form-control" formControlName="password" id="yourPassword" >
                  <div class="text-danger" *ngIf="passError">{{'user.pass.error' | translate}}</div>
                </div>

                <div class="col-12">
                  <label for="limit" class="form-label">{{'user.limit' | translate}}</label>
                  <p class="small">{{'user.limit.des' | translate}}</p>
                  <input type="number" min="0" name="limit" class="form-control" formControlName="lim_consult" id="limit" >
                </div>

                <div class="col-12">
                  <label for="inputRole" class="col-form-label">{{'user.table.role' | translate}}</label>
                  <select id="inputRole" class="form-select" formControlName="role">
                    <option *ngFor="let role of roles; let i = index" value="{{i}}" selected>{{role | translate}}</option>
                  </select>
                </div>

                <div class="col-12 d-flex justify-content-around">
                  <button class="btn btn-danger" type="button" (click)="cancel()">{{'button.cancel' | translate}}</button>
                  <button class="btn btn-primary" type="submit" [disabled]="!hasChanges">{{'user.edit.save' | translate}}</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
