

<main class="view" style="margin-top: 0px;">

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary m-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    Cargando...
  </div>

  <div *ngIf="!loading" class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>{{this.qr}}</h1>
      </div>
      <button *ngIf="!warning" (click)="share()" title="Compartir" class="share btn btn-success rounded-pill"><i class="bi bi-share-fill"></i></button>
    </div>
  </div>

  <section [hidden]="loading" #container class="section">
    <div *ngIf="warning" class="d-flex justify-content-center" style="margin-top: 100px;">
      <p class="text-center">{{message}}</p>
    </div>
  </section>

</main>
