

<main class="view" style="margin-top: 0px;">

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary m-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    Cargando...
  </div>

  <div *ngIf="!loading" class="pagetitle">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>{{this.qr}}</h1>
      </div>
    </div>
  </div>

  <section [hidden]="!loading" #container class="section">
    <p *ngIf="warning" class="text-center">{{message}}</p>
  </section>

</main>
